# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid
*.log
docker-compose.override.yml
db-data/

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build / Dist folders
dist/
build/
